<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- Game Controller Support -->
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
	</array>

	<!-- File Sharing: On My iPhone -->
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>

	<!-- Background Modes -->
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>

	<!-- Siri Activity Types -->
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.vid.playPlaylist</string>
		<string>com.vid.searchVideos</string>
	</array>

	<!-- Siri Support -->
	<key>NSSiriUsageDescription</key>
	<string>Vid uses Siri to allow you to play your playlists and search for videos using voice commands. / Vid utiliza Siri para permitirte reproducir tus listas y buscar videos con comandos de voz.</string>

</dict>
</plist>
